<head>
    <title>Form Iklan</title>
</head>
<body>
        <form action="/iklan_neira" method="post">
            <label for="conten_iklan">Teks Iklan</label>
            <input id="conten_iklan" type="text" name="name_field" > <br>
            <label for="team_name">Jumlah Print</label>
            <input id="jumlah_print" type="int" name="jumlah_print" >
            <label for="team_name">kali print</label> <br>
            <label for="team_name">Berapa lama</label>
            <input id="jumlah_print" type="int" name="jumlah_hari" > 
            <label for="team_name">hari</label><br>
            <input type="radio" name="type_iklan" value="QR"> QR<br>
            <input type="radio" name="type_iklan" value="Teks"> Teks<br>
            <!--<input type="radio" name="type_iklan" value="Image"> Image-->
            <input type="submit" value="OK">
        </form>
</body>